<div *ngIf='issues_stats'>

  <p-button label="open issues" icon="pi pi-ticket" styleClass="p-button-info" [badge]=issues_stats.number_open_issues badgeClass="p-badge-error"></p-button>
  <p-button label="uncategorized issues" icon="pi pi-check-square" styleClass="p-button-warning" [badge]=issues_stats.number_issues_uncategorized badgeClass="p-badge-error"></p-button>
  <p-button label="unprioritized issues" icon="pi pi-sort-amount-down" styleClass="p-button-warning" [badge]=issues_stats.number_issues_unprioritized badgeClass="p-badge-error"></p-button>

  <!-- <p>Number open issues: {{issues_stats.number_open_issues}}</p>
  <p>Number uncategorized issues: {{issues_stats.number_issues_uncategorized}}
     ({{issues_stats.number_issues_uncategorized/issues_stats.number_open_issues | percent}})</p> -->
  <!-- <p>Number unprioritized issues: {{issues_stats.number_issues_unprioritized}}
    ({{issues_stats.number_issues_unprioritized/issues_stats.number_open_issues | percent}})
  </p>
  <p>Number uncategorized and unprioritized issues: {{issues_stats.number_issues_unprioritized_uncategorized}}
    ({{issues_stats.number_issues_unprioritized_uncategorized/issues_stats.number_open_issues | percent}})
  </p> -->


</div>
